.card {
  min-height: 100px;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  user-select: none;
  cursor: pointer;

  &__text {
    color: #344563;
    font-weight: 500;
  }

  &:last-child {
    margin-bottom: 0;
  }
  
  &:active {
    cursor: grabbing;
  }

  &.gu-transit {
    background-color: #e3e6f0;
    border: 1px solid #8592B4;
  }
  &.gu-mirror {
    cursor: grabbing;
  }
}
