.card {
  position: relative;
  min-height: 100px;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  user-select: none;
  cursor: pointer;

  &:hover {
    .card__close {
      display: flex;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.gu-transit {
    background-color: #e3e6f0;
    border: 1px solid #8592B4;
  }
  &.gu-mirror {
    cursor: grabbing;
  }
}

.card__text {
  color: $grey-dark;
  font-weight: 500;
}

.card__close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  background-color: $grey-light;
  color: $grey-normal;
  border-radius: 1rem;
  // border-bottom-left-radius: 0.5rem;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

  &:hover {
    background-color: darken($color: $grey-light, $amount: 2.5%);
  }

  i {
    font-size: 0.9rem;
  }
}
