$list-name: #8592ad;
$list-background: #f5f6fa;
$list-button-back: #e7ecf5;

.lists {
  
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  align-items: start;
}

.list {
  min-height: 225px;
  background-color: $list-background;
  border-radius: 1rem;
  padding: 0rem 1rem 1.5rem 1rem;
  display: flex;
  flex-direction: column;

  &__header {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .list__title {
      flex: 1;
    }

    .list__drag {
      height: 15px;
      padding: 0 3px;
      opacity: 0.5;
      user-select: none;
      cursor: grab;
    }
  }

  &__title {
    color: $list-name;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__draggable {
    flex: 1;
  }

  &.gu-transit {
    background-color: #e3e6ee;
    border: 1px solid $list-name;
  }
  &.gu-mirror .list__drag {
    cursor: grabbing;
  }
}

.list__add-card-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 0.5rem;
  background-color: $list-button-back;
  color: $list-name;
  font-size: 0.8rem;
  margin-top: 1rem;
  cursor: pointer;
  user-select: none;

  &-text {
    padding-left: 5px;
    font-weight: 600;
  }

  &:hover {
    background-color: darken($list-button-back, 1%);
  }
}
