$list-name: #8592ad;
$list-background: #f5f6fa;
$list-button-back: #e7ecf5;

@import "tippy.js/dist/tippy.css";
@import "tippy.js/themes/light.css";

.lists {
  height: 100%;
  padding: 0;
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  // gap: 2rem;
  display: inline-flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: start;
  padding-left: 3rem;
  padding-right: 3rem;
}

.list {
  flex: 0 0 auto;
  width: 300px;
  min-height: 225px;
  background-color: $list-background;
  border-radius: 1rem;
  padding: 0rem 0rem 1.5rem 0rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  max-height: 100%;

  &:last-child {
    margin-right: 0;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .list__title {
      flex: 1;
      padding: 1rem 0 1rem 1rem;
      cursor: grab;
    }

    .list__menu-button {
      padding: 0.5rem;
      margin-right: 0.5rem;
      border-radius: 0.5rem;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: darken($color: $list-background, $amount: 3%);
      }

      img {
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0.5;
        user-select: none;
      }
    }
  }

  &__title {
    color: $list-name;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__draggable {
    flex: 1;
    overflow-y: auto;

    /* Works on Chrome/Edge/Safari */
    &::-webkit-scrollbar {
      width: 6px;
      position: absolute;
      left: 0;
      top: 0;
    }
    &::-webkit-scrollbar-track {
      background: $grey-light;
    }
    &::-webkit-scrollbar-thumb {
      background-color: lighten($color: $grey-normal, $amount: 25%);
      border-radius: 20px;
      // border: 7px solid $grey-light;
    }
  }

  &.gu-transit {
    background-color: #e3e6ee;
    border: 1px solid $list-name;
  }
  &.gu-mirror .list__drag {
    cursor: grabbing;
  }
}

.list__add-card-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 0.5rem;
  background-color: $list-button-back;
  color: $list-name;
  font-size: 0.8rem;
  margin-top: 1rem;
  margin: 1rem 1rem 0 1rem;
  cursor: pointer;
  user-select: none;

  &-text {
    padding-left: 5px;
    font-weight: 600;
  }

  &:hover {
    background-color: darken($list-button-back, 1%);
  }
}

.sortable-chosen {
  cursor: grabbing;
}

.list__menu {
  display: flex;
  flex-direction: column;
}

.list__menu-option {
  min-width: 120px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: $grey-light;
  }

  &-red {
    &:hover {
      color: #E74A3D;
      background-color: #fff4f4;
    }
  }
}

.tippy-content {
  padding: 5px 0;
}
