$grey-dark: #344563;
$grey-normal: #8592AD;
$grey-light: #f4f6fa;

@import "normalize.css";
@import "../fonts/fonts.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "dragula/dist/dragula.css";
@import "list.scss";
@import "card.scss";
@import "button.scss";
@import "form.scss";
@import "modal.scss";

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Poppins', sans-serif;
  overscroll-behavior: none;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  color: $grey-dark;
  text-align: center;
  padding: 1rem;

  h1 {
    font-weight: 700;
  }
}

.toolbar {
  padding: 0rem 3rem 2rem 3rem;
  display: flex;
  flex-direction: row;

  .action-button {
    margin-right: 1rem;
  }
}

.content {
  padding: 0 0 2rem 0;
  max-width: 1920px;
  flex: 1;
  overflow: auto;
}

@media screen and (max-width: 1000px) {
  .lists {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .toolbar {
    padding: 0 5% 1rem 5%;
  }
  .content {
    padding: 0 0 2rem 0;
    max-width: 1920px;
  }
  .lists {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 300px) {
  .content {
    padding: 0;
    width: 100%;
  }
  .lists .list {
    border-radius: unset;
  }
}

.noscroll { 
  overflow: hidden;
}
