$grey-dark: #344563;
$grey-normal: #8592AD;
$grey-light: #f4f6fa;

@import "normalize.css";
@import "dragula/dist/dragula.css";
@import "list.scss";
@import "card.scss";
@import "button.scss";
@import "form.scss";
@import "modal.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overscroll-behavior: none;
}

.header {
  color: $grey-dark;
  text-align: center;
  padding: 1rem;

  h1 {
    font-weight: 700;
  }
}

.toolbar {
  padding: 0rem 3rem 2rem 3rem;
  display: flex;
  flex-direction: row;

  .action-button {
    margin-right: 1rem;
  }
}

.content {
  padding: 0 3rem 3rem 3rem;
  max-width: 1920px;
}

@media screen and (max-width: 1000px) {
  .lists {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .toolbar {
    padding: 0 5% 1rem 5%;
  }
  .content {
    padding: 0 5% 3rem 5%;
    max-width: 1920px;
  }
}

@media screen and (max-width: 300px) {
  .content {
    padding: 0;
    width: 100%;
  }
  .lists .list {
    border-radius: unset;
  }
}

.noscroll { 
  overflow: hidden;
}
